
<!-- <div class="banner"> -->
<!--   <h1 class="pull-right" style="margin: 0;"> -->
<!--     <a href="javascript:void(0)" onclick="switchMode(this)">☀️</a> -->
<!--   </h1> -->
<!--   <h1 class="text-center"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1> -->
<!--   <div class="clearfix"></div> -->
<!--   {%- if page.layout == 'home' -%} -->
<!--   <h2 class="text-center">{{ site.description | escape }}</h2> -->
<!--   {%- else -%} -->
<!--   <h2 class="text-left">{{ page.title | escape }}</h2> -->
<!--   {%- endif -%} -->
<!-- </div> -->

<h1> <a class="title is-1" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> </h1>
<h2 class="subtitle is-2">// {{ site.description | escape }}</h2>
