/* Inspired by Tsoding's Gruber Darker Theme for Emacs */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --bg-color:  #181818;
    --font-color:  #e4e4ef;
    --font-size: 1.8rem;
    --grid-maxWidth: 120rem; /* max container width 1080px */
    --grid-gutter: 0rem;
    --font-family-sans: "Libre Baskerville", serif;
    --font-family-mono: "Iosevka", monospace;
}
